<!-- form to create / edit a hack -->
<div id="form-bg"></div>
<div class="forms-box">
	<%= form_for @hack do |f| %>
		<%=f.text_field :title, placeholder: "Title" %><br><br>
		<%= f.file_field :lhimg %><br>
		<%=f.text_field :body, placeholder: "Body" %><br><br>
		<%= f.hidden_field :user_id, value:current_user.id%>

		<!-- capture the tag -->
		<!-- <input type="text" id="tag" placeholder="Tags"> -->
		<div class="input-group">
		  <input type="text" id="tag-input" placeholder="Tags">
		  <span class="input-group-addon" type="submit" id="submit-tag"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
		</div>
		<%= f.hidden_field :tags, id:"tag-array"%>
		<br>
		<div id="tags">
			<%if @tags%>
				<%@tags.each do |tag|%>
					<p id="cloud"><%=tag.category%><%=link_to "X", hack_tag_path(tag.id, hack_id:@hack.id), method: :delete%></p>
				<%end%>
			<%end%>
		</div>
		<%=f.submit id: "create-hack" %>
	<% end %>
</div>