<!-- Listing of all the lifehacks in the database  -->
<h1>Index</h1>
<% @hacks.each do |hack| %>
	<h3><%=hack.title%></h3>
	<%= image_tag hack.lhimg.url(:medium) %>
	<p><%=hack.body%></p>
	<% if logged_in? %>
		<!-- 	if there is a user in session show the favorite/unfavorite and edit -->
		<% hack.favorite = Favorite.where(user_id: current_user.id, hack_id: hack.id).first %>

			<!-- link to edit hack only if created by current_user or if current_user is admin -->
		<% if current_user.admin? or current_user == hack.user %>
				<%= link_to "Edit", edit_hack_path(hack.id) %>
		<% end %>
		<% if current_user != hack.user %>
			<div id="fave_buttons_<%= hack.id %>">
				<% if !hack.favorite %>
					<%= link_to favorites_path(hack), method: :post, remote: true, class: "fave_button" do %>
						<i class="fa fa-star-o"></i>
					<% end %>
				<% else %>
					<%= link_to favorite_path(hack.favorite.id), method: :delete, remote: true, class: "unfave_button" do %>
						<i class="fa fa-star"></i>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<%= link_to like_hack_path(hack), method: :put do %>
			<i class="glyphicon glyphicon-triangle-top"></i>
			<%= hack.get_upvotes.size %>
		<% end %>
		<%= link_to dislike_hack_path(hack), method: :put do %>
			<i class="glyphicon glyphicon-triangle-bottom"></i>
			<%= hack.get_downvotes.size %>
		<% end %>
	<% end %>
<% end %>

<!-- Sidebar containing the top 10 categories -->

