<!-- Listing of all the lifehacks in the database  -->
<h1>Index</h1>
<% @hacks.each do |hack| %>
	<h3><%=hack.title%></h3>
	<%= image_tag hack.lhimg.url(:medium) %>
	<p><%=hack.body%></p>
	<% if logged_in? %>
		<!-- 	if there is a user in session show the favorite/unfavorite and edit -->
		<% @favorite = Favorite.where(user_id: current_user.id, hack_id: hack.id).first %>

			<!-- link to edit hack only if created by current_user or if current_user is admin -->
		<% if current_user.admin? or current_user == hack.user %>
				<%= link_to "Edit", edit_hack_path(hack.id) %>
			<% if current_user != hack.user %>
				<% if !@favorite %>
					<%= link_to "Favorite", favorites_path(hack_id: hack.id), method: :post %>
				<% else %>
					<%= link_to "Unfavorite", favorite_path(@favorite.id), method: :delete %>
				<% end %>
			<% end %>
		<%end%>

	<% end %>
<% end %>

<!-- Sidebar containing the top 10 categories -->