<!-- User profile page with a list of hacks created and favorited -->
<div id="profile">

	<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="profile_tabs">
    <li role="presentation" class="active"><a href="#hacks" aria-controls="hacks" role="tab" data-toggle="tab">My Hacks</a></li>
    <li role="presentation"><a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">My Favorites</a></li>
  </ul>

	<!-- content of the tabs -->
	<div class="tab-content">
		<!-- tab with all of the hacks created by current user -->
		<div role="tabpanel" class="tab-pane fade in active" id="hacks">
			<% @hacks.each do |hack| %>
				<div class="hack_title">
					<h3><%=hack.title%></h3>
					<div class="hack_title_buttons">
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    <span class="glyphicon glyphicon-tag"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <% hack.tags.each do |tag| %>
							    <li><%= tag.category %></li>
						    <% end %>
						  </ul>
						</div>
					</div>
				</div>
				<%= image_tag hack.lhimg.url(:medium) %>
				<p><%=hack.body%></p>
				<%= link_to "Edit", edit_hack_path(hack.id) %>

				<!-- up/down vote buttons -->
				<%= link_to like_hack_path(hack), method: :put, remote: true do %>
					<i class="glyphicon glyphicon-triangle-top"></i>
				<% end %>
				<%= link_to dislike_hack_path(hack), method: :put, remote: true do %>
					<i class="glyphicon glyphicon-triangle-bottom"></i>
				<% end %>

				<!-- up/down vote counters -->
				<div class="vote_counts">
					<span id="upvote_count_<%= hack.id %>"><%= hack.get_upvotes.size %></span>
					<span id="downvote_count_<%= hack.id %>"><%= hack.get_downvotes.size %></span>
				</div>
			<%end%>
		</div>

		<!-- tab with all of the hacks the current_user favorited -->
		<div role="tabpanel" class="tab-pane fade" id="favorites">
			<% @fav_hacks.each do |fav| %>
				<h3><%=fav.hack.title%></h3>
				<%= image_tag fav.hack.lhimg.url(:medium) %>
				<p><%=fav.hack.body%></p>

				<!-- favorite button -->
				<div id="fave_buttons_<%= fav.hack.id %>">
					<%= link_to favorite_path(fav.id), method: :delete, remote: true, class: "unfave_button" do %>
						<i class="fa fa-star"></i>
					<% end %>
				</div>

				<!-- up/down vote buttons -->
				<%= link_to like_hack_path(fav.hack), method: :put, remote: true do %>
					<i class="glyphicon glyphicon-triangle-top"></i>
				<% end %>
				<%= link_to dislike_hack_path(fav.hack), method: :put, remote: true do %>
					<i class="glyphicon glyphicon-triangle-bottom"></i>
				<% end %>

				<!-- up/down vote counters -->
				<div class="vote_counts">
					<span id="upvote_count_<%= fav.hack.id %>"><%= fav.hack.get_upvotes.size %></span>
					<span id="downvote_count_<%= fav.hack.id %>"><%= fav.hack.get_downvotes.size %></span>
				</div>
			<%end%>
		</div>
	</div>
</div>