<!-- User profile page with a list of hacks created and favorited -->
<h1><%=current_user.username%></h1>
<%= button_to("Update Profile", edit_user_path(current_user.id),method: :get)%>

<h3><span style="color:red;">Add user favorites</span></h3>
<h3><span style="color:red;">Add user lifehack posts</span></h3>
<h3><span style="color:red;">----> Allow users to edit the posts too</span></h3>

<% @hacks.each do |hack| %>
	<h3><%=hack.title%></h3>
	<%= image_tag hack.lhimg.url(:medium) %>
	<p><%=hack.body%></p>
	<%= link_to "Edit", edit_hack_path(hack.id) %>

		<!-- up/down vote buttons -->
	<%= link_to like_hack_path(hack), method: :put, remote: true do %>
		<i class="glyphicon glyphicon-triangle-top"></i>
	<% end %>
	<%= link_to dislike_hack_path(hack), method: :put, remote: true do %>
		<i class="glyphicon glyphicon-triangle-bottom"></i>
	<% end %>

	<!-- up/down vote counters -->
	<div class="vote_counts">
		<span id="upvote_count_<%= hack.id %>"><%= hack.get_upvotes.size %></span>
		<span id="downvote_count_<%= hack.id %>"><%= hack.get_downvotes.size %></span>
	</div>
<%end%>

<h1>Favorite hack</h1> <!-- change this into a tab -->
<% @fav_hacks.each do |fav| %>
	<h3><%=fav.hack.title%></h3>
	<%= image_tag fav.hack.lhimg.url(:medium) %>
	<p><%=fav.hack.body%></p>

	<!-- favorite button -->
	<div id="fave_buttons_<%= fav.hack.id %>">
		<%= link_to favorite_path(fav.id), method: :delete, remote: true, class: "unfave_button" do %>
			<i class="fa fa-star"></i>
		<% end %>
	</div>

	<!-- up/down vote buttons -->
	<%= link_to like_hack_path(fav.hack), method: :put, remote: true do %>
		<i class="glyphicon glyphicon-triangle-top"></i>
	<% end %>
	<%= link_to dislike_hack_path(fav.hack), method: :put, remote: true do %>
		<i class="glyphicon glyphicon-triangle-bottom"></i>
	<% end %>

	<!-- up/down vote counters -->
	<div class="vote_counts">
		<span id="upvote_count_<%= fav.hack.id %>"><%= fav.hack.get_upvotes.size %></span>
		<span id="downvote_count_<%= fav.hack.id %>"><%= fav.hack.get_downvotes.size %></span>
	</div>
<%end%>