<!DOCTYPE html>
<html>
<head>
  <title>Shortcuts</title>
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Font Awesome -->
	<script src="https://use.fontawesome.com/657e81d993.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- <ul class="nav nav-tabs"> -->
	<!-- current user is logged int -->
		<%if current_user%>
			<nav>
				<%=link_to image_tag("shortcuts-bulb_mini_20x30.png"), hacks_path, class: "logo" %>
			  <!-- search bar -->
			  <%= form_tag(hacks_path, method: :get, id: "search-form") do %>
					<%= text_field_tag :search, params[:search], placeholder: "Search Tags" %>
					<%= submit_tag "Search" %>
				<% end %>

				<!-- </button> -->
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><%=link_to "Home", hacks_path%></li>
					  <li><%=link_to "Profile", user_path(current_user.id)%></li>
					  
					  <li><%=link_to "Edit Profile", edit_user_path(current_user.id)%></li>
					  <li><%=link_to "Log Out", session_path(current_user.id), method: "delete"%></li>
				  </ul>
				</div>
				<!-- <button type="button" class="btn btn-default btn-lg"> -->
					<!-- add a hack -->
				<%=link_to new_hack_path do %>
			  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			  <% end %>
			</nav>
		<%else%>
			<!-- login form -->
			<%=form_tag sessions_path do%>
				<%=label_tag :username %>
				<%=text_field_tag :username, nil, :placeholder=>"Username" %><br>
				<%=label_tag :password %>
				<%=password_field_tag :password, nil, :placeholder=> "Password" %><br>
				<%=submit_tag "Log in" %><br>
			<%end%>
			<%= button_to "Sign Up", new_user_path %>
		 <%end%>
	<!-- </ul> -->

	<%= flash[:alert] if flash[:alert]%>
	<%= flash[:notice] if flash[:notice]%>

<%= yield %>

</body>
</html>
