<!DOCTYPE html>
<html>
<head>
  <title>Shortcuts</title>
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Font Awesome -->
	<script src="https://use.fontawesome.com/657e81d993.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<!-- logo that links to root_path -->
		<%=link_to image_tag("shortcuts-bulb_mini_20x30.png"), hacks_path, class: "logo" %>
	  
	  <!-- search bar -->
	  <%= form_tag(hacks_path, method: :get, id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search Tags" %>
			<%= button_to do %>
				<span class="glyphicon glyphicon-search"></span>
			<% end %>
		<% end %>

		<!-- if there is a user in session -->
		<%if logged_in? %>
			<div class="dropdown" id="nav_burger">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			  </button>
			  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			    <li><%=link_to "Home", hacks_path%></li>
				  <li><%=link_to "Profile", user_path(current_user.id)%></li>
				  
				  <li><%=link_to "Edit Profile", edit_user_path(current_user.id)%></li>
				  <li><%=link_to "Log Out", session_path(current_user.id), method: "delete"%></li>
			  </ul>
			</div>
			
			<!-- '+' link to add a new hack -->
			<%=link_to new_hack_path, id:'plus_icon' do %>
		  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		  <% end %>
		
		<%else%>
			<div class="dropdown" id="login_burger">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			  </button>
			  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" id="login_list">
			    <%= form_tag sessions_path do%>
				    <li><%=text_field_tag :username, nil, :placeholder=>"Username" %></li>
					  <li><%=password_field_tag :password, nil, :placeholder=> "Password", id: "login_pass" %></li>
					  <li><%=submit_tag "Log in" %></li>
					  <li role="separator" class="divider"></li>
					  <li><%= link_to "Sign Up", new_user_path %></li>
					<%end%>
			  </ul>
			</div>
		 <%end%>
	</nav>


	<%= flash[:alert] if flash[:alert]%>
	<%= flash[:notice] if flash[:notice]%>

<%= yield %>

</body>
</html>
